---
// src/components/astro/Header.astro
// Componente estático de Astro para la cabecera principal.

interface Props {
  nombre: string;
  titulo: string;
  subtitulo: string;
}

const { nombre, titulo, subtitulo } = Astro.props;
---

<div class="text-left"> 
  <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
    {/* Enlace a la raíz del sitio */}
    <a href="/">{nombre}</a> 
  </h1>
  <h2 class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl">
    {titulo}
  </h2>
  <p class="mt-4 max-w-xs leading-normal text-slate-400">
    {subtitulo}
  </p>
</div>
