---
import ProjectCard from "./ProjectCard.astro";

const projects = [
   {
  title: "Conexia",
  description: "Responsable del desarrollo del backend, implementando y manteniendo servicios RESTful con Java y Spring Boot. Encargado de la integración con bases de datos MySQL, validaciones, autenticación de usuarios, manejo de roles y documentación de endpoints. Participación en la optimización de consultas SQL y diseño de la arquitectura de la API siguiendo buenas prácticas de desarrollo y seguridad.",
  link: "https://github.com/Leonardo-Rozza/Conexia",
  image: "/img-proyectos/Conexia-presentacion.png",
  tags: ["Java", "Spring Boot", "MySQL", "JPA", "REST API", "Seguridad", "JWT"]
  },
  {
    title: "La Ponderosa",
    description: "Desarrollo de un sitio web responsivo sobre la presentacion, informacion de una quinta con optimización en accesibilidad y rendimiento",
    link: "https://leonardo-rozza.github.io/La-Ponderosa/",
    image: "/img-proyectos/la-ponderosa.png",
    tags: ["Astro", "React", "TypeScript", "HTML", "CSS"]
  },
  {
    title: "API REST - Ventas",
    description:"Desarrollada con Spring Boot para la gestión de ventas, clientes y productos. Incluye operaciones CRUD, relaciones entre entidades, validaciones y persistencia con MySQL usando JPA y Lombok.",
    link: "https://github.com/Leonardo-Rozza/APIREST-Ventas/tree/main",
    image: "/img-proyectos/api-rest-java.png",
    tags: ["Java", "Spring Boot", "MySQL", "JPA", "Lombok"]
  }, 
  {
    title: "API REST - Autenticación de Usuarios",
    description: "Autenticación y registro de usuarios con Node.js y TypeScript aplicando Clean Architecture.",
    link: "https://github.com/Leonardo-Rozza/API-REST-authentication",
    image: "/img-proyectos/node-api-rest.png",
    tags: ["Node", "TypeScipt", "Express", "jsonwebtoken", "mongoDB"]
  }

];

---
<section id="proyectos" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24 " aria-label="Proyectos destacados">
  <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Proyectos</h2>
  <div class="mt-4 lg:mt-0 ">
    <ul class="group/list space-y-12">
      {projects.map(project => (
        <ProjectCard {...project} />
      ))}
    </ul>
  </div>
</section>